<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

    <f:layout name="Content" />

    <f:section name="Configuration">
        <flux:form id="actionButton" options="{group: 'FCE'}">
            <!-- Insert fields, sheets, grid, form section objects etc. here, in this flux:flexform tag -->
            <flux:field.input name="title" required="true" />
            <flux:field.input name="link">
                <flux:wizard.link activeTab="page"/>
            </flux:field.input>
            <flux:field.input name="class" />
        </flux:form>
    </f:section>

    <f:section name="Preview">
        <button class="btn btn-default">{title}</button>
    </f:section>

    <f:section name="Main">
        <f:link.page pageUid="{link}" title="{title}" class="{class}">{title}</f:link.page>
    </f:section>
</div>
